/*
theme:solo
font family:rubik
color:
yellow:#fac613;
grey:#212226;
white smoke:#f4f4f4;
white:#000000;
black:#000000;
*/



/* 1st header today */

/* black background color to the top navigation bar */
.container {
  overflow: hidden;
  background-color: #e9e9e9;
  padding:0px;
}

/* Style the links inside the navigation bar */
.container a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.container a:hover {
  background-color: #f4c613;
  color: black;
}


/* Style the search box inside the navigation bar */
.container input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  width: 200px;
}

ul .social-list{
  padding: 0;
  margin-top: 20px;
  margin-right: 40px;
}
.social-list li{
  display: inline-grid;
  padding: 0;
  margin-top: 12px;
  margin-left: 40px;
  
}
.social-list li a{
  border: 1px solid #fff;
  height: 35px;
  padding-top: 8px;
  width: 35px;
  display: inline-block;
  line-height: 35px;
  border-radius: 50%;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

.social-list li:nth-child(1) a:hover{
  background: #3b5998;
  border-color: transparent;

}

.social-list li:nth-child(2) a:hover{
  background: #00aced;
  border-color: transparent;
}

.social-list li:nth-child(3) a:hover{
  background: #e34133;
  border-color: transparent;
}

.owl-theme .owl-nav[class*=owl-]{
  background: none;
  color: #212226;
  font-size: 40px;
  margin: 0;
}
/* 2nd header start */

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  margin-top: 75px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight:bolder;
  margin-left: 35px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* background photo */
#abc{
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
























































































































































































































































/*footer*/

footer{
  background: #212226;
  padding:20px;
}
footer p{
  color: #fff;
  line-height: 20px;
}

footer p span{
  color: #f4c613;
  font-weight: bold;
}


/*---havbar --*/

#logo{
    height: 40px;
    width: auto;
}
nav .container-fluid{
   padding: 0 80px;
}
.navbar-brand{
   padding: 13px 15px;
}


ul.navbar-nav>li>a{
    color:#fff !important;
    font-size: 13px !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-item{
  padding-right: 200px;
  margin-bottom: 10%;
}

/*white nav */
.white-nav-top{
  background-color: #fff;
  padding:10px 0px;
  -webkit-box-shadow: 0 8px 6px -9px #999;
  box-shadow: 0 8px 6px -9px #999;
  z-index: 2;
}
.white-nav-top ul.navbar-nav>li>a{
  color:#212226 !important;
}

.white-nav-top ul.navbar-nav>li>a:hover,.white-nav-top ul.navbar-nav>li>a:focus{
   color:#f4c613 !important;
}

.white-nav-top ul.navbar-nav>li.active{
    color:#f4c613;
    font-weight: bold;
}
